/UnityShaderTest/.vs/
/UnityShaderTest/.idea/
/UnityShaderTest/.vscode/
/UnityShaderTest/Build/
/UnityShaderTest/Library/
/UnityShaderTest/obj/
/UnityShaderTest/Temp/
/UnityShaderTest/Logs/
/UnityShaderTest/SimulatedPersistentDataPath
/UnityShaderTest/Assets/StreamingAssets*
/UnityShaderTest/Assets/Excel








